# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.vscode
.ipynb_checkpoints

# Directories
models/
data/
results/
output/
logs/
mlruns/
mlflow_data/
mlflow_artifacts/

# File Extensions
*.pth
*.csv
*.pyc
*.log

# Environment Variables
.env

# Installer logs
pip-log.txt